<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chuangjiangx.unipay">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".application.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".launcher.LauncherActivity"
            android:theme="@style/AppTheme.NoActionBar.White">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar.White"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.White" />

        <service
            android:name=".services.MonitorService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <receiver android:name=".services.BootReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".pay.c2b.C2BActivity"
            android:theme="@style/AppTheme.NoActionBar.White" />
        <activity android:name=".wakeup.WakeupActivity" />
        <activity
            android:name=".pay.result.PayResultActivity"
            android:theme="@style/AppTheme.NoActionBar.White" />

        <service android:name=".services.tts.SpeakService" />

    </application>

</manifest>